<a href="https://colab.research.google.com/github/dannyNiming/Danny-Wang/blob/main/01_SetsDictionaries_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets and Dictionaries
Session 3 - part 1 
<br>07/13/2021

## Sets
Sets are unordered and unindexed collection of data. Because of this, they cannot accept duplicates. Let's see some examples:

In [1]:
x=[1,2,3,4,5,5,5,6,2,1]
y=[4,9,7,8,8,4,5,4,6]

In [2]:
print(type(x), type(y))
print(x)
print(y)

<class 'list'> <class 'list'>
[1, 2, 3, 4, 5, 5, 5, 6, 2, 1]
[4, 9, 7, 8, 8, 4, 5, 4, 6]

In [4]:
# Let's make these into sets!
xset = set(x)
yset = set(y)

In [6]:
xset
yset

{4, 5, 6, 7, 8, 9}

In [ ]:
type(xset)

In [ ]:
len(xset)

## Methods of Sets

There are many, but let's look at three most used:

In [ ]:
print(xset)
print(yset)
# Union
xset.union(yset)

In [ ]:
# What do you think about the check below: True or False?
# xset.union(yset) == yset.union(xset)

In [ ]:
# Intersection 
xset.intersection(yset)

In [ ]:
#What do you think about the check below? True or False? 
#yset.intersection(xset) == xset.intersection(yset)

In [ ]:
## Difference
xset.difference(yset)

In [ ]:
#What do you think about the check below? True or False? 
#xset.difference(yset) == yset.difference(xset)

Some more notes about sets:

In [7]:
# Do sets accept elements of different types?
set1 = {'a',1,1.2}
set1

{1, 1.2, 'a'}

In [8]:
# Do sets accept duplicates?
set2 = {'b', 1, 1}
set2

{1, 'b'}

In [31]:
# What is the length of the following set?
set3 = {'c',0, False, 2.0}
print(set3)
set4 = {'c',1, True, 2.0}
print(set4)

{0, 2.0, 'c'}
{1, 2.0, 'c'}

In [28]:
# A familiar operation works for sets too, but with a twist!
#set3.pop()
set3.union({False})

{1, 2.0, False, 'c'}

Now that you know about sets and some basic operations, can you think of a usecase of sets in a business setting?

## Dictionaries
Dictionaries are one of the four built in data types that are used to store a collection of data. Unlike all the data structures we have seen, dictionaries are very structured, the data is stored in key:value pairs, just like in a dictionary! As expected, dictionaries do not accept duplicates.


(From Python 3.7 onwards, dictionaries are supposed to preserve the key insertion order but please check the implementation you are working with before relying on this!)


Let's see some examples:

In [ ]:
d = { 'online':True, 
     'courseName':'ba765',  
     'totStudents': 100, 
     3:['A','B','C']}
print(type(d))
d

<class 'dict'>

{3: ['A', 'B', 'C'], 'courseName': 'ba765', 'online': True, 'totStudents': 100}

In [ ]:
d.keys()

In [ ]:
list(d.keys())

In [ ]:
# Deleting a key 
del d['online']

In [ ]:
# Adding a key
d['LfA'] = True



---

In [ ]:
#Accessing values in a dictionary
d['online']

In [ ]:
d[3]

In [ ]:
#How about changing the values of the keys?
d['LfA'] = False
d['LfA']

In [ ]:
# There is another way of accessing the value of a key
# which also allows us to set a default value:
d.get('instructor', 'TBD')

In [ ]:
# Further checks about existince of a key:
'courseName' in d

In [ ]:
'instructor' not in d



---

In [ ]:
# We have worked enough with keys, 
# let's take a look at things we can do with values

d.values()

In [ ]:
list(d.values())

In [ ]:
# .. or items:
d.items()

In [ ]:
list(d.items())

In [ ]:
# Updating a dictionary by adding a new item, aka k:v pair:
d.update({'rating':4.95})
print(d)

In [ ]:
# Using the update function to update an existing k:v pair:
d.update({'LfA':True})
d['LfA']

In [ ]:
# We already saw how to remove a k:v pair
del d['LfA']

In [ ]:
# but we can also clear the whole dictionary:
d.clear()

In [ ]:
print(d)

In [ ]:
# if we want to get rid of it completely:
del d

In [ ]:
print(d)

#### Quick exercise:

Define a dictionary that has    

*   'a' list of values from 1 to 5
*   'b' tuple of your first and last name
*  765 that as your age as a float

Then:
*  confirm that it is a dictionary 
*  print out the keys as a list.

In [35]:
# your code here
d = dict({})
d['a'] = [1,2,3,4,5]
d['b'] = ['Niming','Wang']
d[765] = 23.0
print(d)

{'a': [1, 2, 3, 4, 5], 'b': ['Niming', 'Wang'], 765: 23.0}


## Interlude to Python with some git 
---

That is all for now for dictionaries and sets! Hope you enjoyed these new data structures and can think of interesting ways of using them!

Now we'll take a break with some git, with Github Desktop and VS Code.

- git clone \<repo path here.git\>
- git status
- git add \<filename>
- git commit
- git push
- git config --global user.email "your-email-here"
- git config --global user.name "Your name here"