<a href="https://colab.research.google.com/github/dannyNiming/Danny-Wang/blob/main/%E2%80%9C01_IntroToPython_Lecture_ipynb%E2%80%9D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BA765: Programming for Data Science

## Session 2 : Intro to Python 

**Summer 2021**

July 8, 2021

---

### A very brief introduction to Python

As [Wikipedia puts it](https://en.wikipedia.org/wiki/Python_(programming_language)), Python is an interpreted, high-level, general-purpose programming language. Python compels its user to follow a distinct style emphasizing code readability. The most apparent example is the use of whitespace indentation instead of brackets, braces, or heavy use of punctuation marks. It is a style that slowly grows on you. So, if you feel constrained by it, give Python a chance and you most likely will start enjoying it. Afterall, Python is the worlds most popular programming language [according to GitHub](http://pypl.github.io/PYPL.html).

Being an open-source language it is being made more and more useful through all the immensity of libraries and modules that extend its functionality way beyond what comes built-in. Using these modules is often as easy as typing `import <module_name>`. On a different note, like any open-source project Python has its share of frivolous in-jokes, such as the one presented below.

In [ ]:
import this

### 1. Some basic built-in python syntax and functions

#### 1.1 Hello, World!

Let's start with the classic program that is traditionally used to introduce any language; printing the letters `Hello, World!` on the screen.

Note that # character indicates a comment, that line is not executed!

In [ ]:
# Type-in "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
# print your name

print("GuGu Piggy")

GuGu Piggy

__________________________________________________________________________________________________________________________

#### 1.2 Python's basic data types

Basic data types in python include:
    
- Boolean (bool)  
    - example: True, False <br> <br>

- Integer (int)  
    - example: 2020 <br> <br>

- Floating point (float)
    - example: 32.56, 4.5e2 <br> <br>

- Text string (str)  
    - example: "I", 'love', '''Python'''  <br> <br>

- List (list)
    - example: ['Paris', 'Abuja', 'Hanoi', '2021'] <br> <br>
 ***Note***: python lists can contain values corresponding to different data types; <br>
    but arrays in python can only contain values corresponding to same data type. <br>
  
    <br> <br>
    
- Tuple (tuple) 
    - example: (1,2,3,4) ; <br> Note: tuples are immutable   <br> <br>

There is a built-in python function `type()` that returns the type of the python object

**Simple exercise:**
Write a few python objects: a boolean, an integer, a float, a string, a list, and a tuple, and use the built-in function `type()` to check if your python object is indeed what you expected.

In [ ]:
# Example:
# write a boolean
True

In [ ]:
# Example:
# use the "type()" built-in python function to check if the boolean value of the previous example is indeed boolean

type(True)

In [ ]:
#Handy feature: The question mark
x=True
x?

In [ ]:
# write (and check) an integer

In [ ]:
# write (and check) a float (real number)
type(3.14e2)

In [ ]:
# write (and check) a string

In [ ]:
# write (and check) a list

In [ ]:
# write (and check) a tuple

__________________________________________________________________________________________________________________________

#### 1.3 Variables: specifying data values in python

***Example:***

In [ ]:
# Assigning strings to variables 

x = "Hello"
y = "World"
print(x)
print(y)
print(x, y)
print(x, y, "!")
print(x, y + "!")

In [ ]:
# Assigning numerical values to variables

num1 = 5
num2 = 7

print(num1 + num2)

**Naming variables in python**

The rules:
    
- You can use lowercase letters (a through z)
- You can use UPPERCASE letters (A through Z)
- You can use digits (0 through 9)
- You can use the underscore (_)
- Names are case sensitive (boston, Boston, and BOSTON are different names)
- Names must begin with a letter or an underscore, not a digit
- Names that begin with an underscore are treated specially
- Names cannot be one of python's reserved words.

##### Python's reserved words

Python reserves some names to be keywords, please do not use these as names of your variables. Run the cell below to list all the reserved keywords.

In [ ]:
from keyword import kwlist
print(kwlist)

______________________________________________________________________________________________________________________________

#### 1.4 Numerical Operations

Python has the basic numerical operations that makes it a quick calculator -- **but** note that we will use more advanced, math specific libraries for our data science needs!

***Simple Exercise: run the following cells***

In [ ]:
# Addition
7 + 3

In [ ]:
# Subtraction
7 - 3

In [ ]:
# Multiplication
7 * 3

In [ ]:
# Division (floating-point division or decimal division)
7 / 3

In [ ]:
# or, by assigning these numbers to variables

x = 7

y = 3

z = x/y

print(z)

In [ ]:
# Quotient from floor division (integer division or truncating division)
7 // 3

In [ ]:
# Modulo (remainder)
7 % 3

In [ ]:
# Power (Exponentiation)
x ** 3

______________________________________________________________________________________________________________________________

**Exercise:** 

As of yesterday, there were 663,994 Covid-19 reported cases in Massachusetts (source: mass.gov). 

The population of Massachusetts is 6,892,503  (estimate, July 1, 2019, source: Wikipedia and Census.org). 

Use python as calculator to calculate the number of Covid-19 cases per million ($10^6$) population, in Massachusetts.

In [ ]:
# your code here
x=663994
y=6892503
z=10 ** 6
a=x/y*z
print(a)

96335.68530909599

___________________________________________________________________________________________________________________________

#### 1.5 Python's comparison operators

- Equality: ==

- Inequality: !=

- Less than: <

- Less than or equal: <=

- Greater than: >

- Greater than or equal: >=

In [ ]:
#Comparisons and boolean go well together
# Try this - can you guess the result before running the code?
a=True
b=False
d=(a==b)
d==b

In [ ]:
# EXERCISE: try TRUE or FALSE with numbers

x1=3
x2=4
y1=5
y2=1

check=(x1+x2)==(y1+y2)
if check:
    print('Sum is equal to:', (x1+x2))
else:
    print('Error: sums not equal!')

In [ ]:
# More logical operations - can you guess the result before running the code?
x = 3
y = 6
print(x > y)
print(y > x)
print(x == y)
print(y != x)



---

#### 1.6 Strings
Python strings are more than just some of characters, they are *objects* with functions

In [ ]:
"This is a string"

In [ ]:
a="This is my string"
b='This is ALSO my string'
c='''This, too, is MY String''' 
print(a)
print(b)
print(c)

This is my string
This is ALSO my string
This, too, is MY String

Let's use some of the methods of the string object, namely, `split`, `upper` and `lower`:

In [ ]:
a.split()

In [ ]:
b.upper()

In [ ]:
c.lower()

In [ ]:
print(a.isalnum() , b.isnumeric())
print(c.split())
print(c.split(','))

**Exercise**


*   Define a string called course_number and set it to 765
*   Define a string that is equal to "Programming for Data Science"
*   Change the course title to upper and lower case

In [ ]:
# your code here
course_number = "765"
p = "Programming for Data Science"
print(p.upper())
print(p.lower())

PROGRAMMING FOR DATA SCIENCE
programming for data science

Another very useful function is `format()`:

In [ ]:
num=765
"My favorite class at Questrom so far is BA{}".format(num)
# see that the curly brackets act like a placeholder

In [ ]:
# We can use multiple curly brackets too:
b1_start=7
b2_start=1
myString="Does this class start at {} am or {} pm??".format(b1_start,b2_start)
print(myString)

#### 1.7 Casting

You might be familiar with the concept "type casting" but in Holywood it means something else, for us, it means casting a variable's type to something that is different than its original type:

In [ ]:
x=2
y=2.0
print(type(x))
print(type(y))

In [ ]:
# Cast x as float:
float(x)

In [ ]:
# Did we actually change the type of x? Try to find out:
# your code here

In [ ]:
#Try to cast y as integer using int()
#your code here

In [ ]:
#How about strings? Can we cast them to different types?
z="python"
list(z)

In [ ]:
?z

#### 1.8 Some notes:

In [ ]:
# It is good to know the version of python we use:
import sys
sys.version

In [ ]:
# We can assign multiple variables at once
x,y,z = 3,3.33,"BA765"
print(x,y,z)

In [ ]:
#Using operations within print is allowed:
print(x+y)
print(z+"!")

#### 1.9 Doing math with python
We will use the powerful numpy package for this purpose because it is very well optimized for common mathematical operations

In [ ]:
import numpy as np
# Note that we have not only imported the package, but also gave it an alias

In [ ]:
np.pi

In [ ]:
np.sqrt(625)

In [ ]:
np.sin(30.0/180.0*np.pi)

In [ ]:
np.math.factorial(3)

##### Quick Exercise

What is the difference between the # of days in the year and 5 factorial , squared, +1

In [ ]:
# your code here



---

#### Conclusions
Hope you enjoyed your very first introduction to Python
Now please go ahead and tackle the first lab exercises!